      /* Toogle */
      body{
        transition: background 0.2s linear;
        animation: fadein 0.5s linear 1 forwards;

      }
      body.dark {
      background-color: #292c35;
      color: white;
      }

      .checkbox {
        opacity: 0;
        position: absolute;
      }

      .label {
        margin-top: 15px;
        width: 50px;
        height: 18px;
        background-color:#111;
        display: flex;
        border-radius:50px;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        position: relative;
        transform: scale(1.5);
      }

      .ball {
        width: 16px;
        height: 16px;
        background-color: white;
        position: absolute;
        top: 1px;
        left: 4px;
        border-radius: 50%;
        transition: transform 0.2s linear;
      }

      /*  target the elemenent after the label*/
      .checkbox:checked + .label .ball{
        transform: translateX(27px);
      }

      .fa-moon {
        color: pink;
      }

      .fa-sun {
        color: yellow;
      }

      .stars {
        color: #3e64ff;
        text-shadow: 6px 6px 20px #282c34;
        animation: fadein 1s linear 1 forwards;
      }

      @keyframes fadein {
        0% { opacity: 0; }
        100% { opacity: 1; }
      }

      #chip {
        display: inline-block;
        padding: 0 25px;
        height: 50px;
        font-size: 16px;
        line-height: 50px;
        border-radius: 25px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

      }

      #chip:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }
      
      
      #chip img {
        float: left;
        margin: 0 10px 0 -25px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
      }

      @media only screen and (max-width: 600px) {
        p,
        #contract-title,
        #writeups
        {
          font-size: 18px;
        }

        #content div h2{
          font-size: 24px;
        }
        #content .row label{
          margin-left: 15px;
          margin-bottom: 15px;
        }

        #navbar_horizon li.login-list{
          float: left;
          padding-right: 0px;
        }

        #navbar_horizon ul li a{
          padding: 4px;
        }

        #chip{
          height: 40px;
        }

      }
